In [3]:
import pandas as pd
import numpy as np

In [4]:
# Estimates of location

# Gives us an idea about the central tendency of the data.
# - Mean
# - Median
# - Mode

In [12]:
# Create a sample dataset with 7 columns and 20 rows related to finance

np.random.seed(1911)  # for reproducibility

# Sample data generation
dates = pd.date_range('2023-01-01', periods=20, freq='B')  # 20 business days
symbols = ['AAPL', 'MSFT', 'GOOG', 'AMZN', 'FB']  # stock symbols
open_prices = np.random.uniform(100, 200, size=20).round(2)  # stock opening prices
close_prices = open_prices * np.random.uniform(0.95, 1.05, size=20).round(2)  # stock closing prices
volumes = np.random.randint(1000000, 5000000, size=20)  # trading volume
highs = np.maximum(open_prices, close_prices) * np.random.uniform(1.01, 1.05, size=20).round(2)  # daily highs
lows = np.minimum(open_prices, close_prices) * np.random.uniform(0.95, 0.99, size=20).round(2)  # daily lows

# Recreating the DataFrame with the corrected data
finance_data = pd.DataFrame({
    'Date': dates,
    'Symbol': np.random.choice(symbols, size=20),
    'Open': open_prices,
    'Close': close_prices,
    'High': highs,
    'Low': lows,
    'Volume': volumes
})

finance_data.head(20)  # Displaying the complete dataset

         Date Symbol    Open     Close        High         Low   Volume
0  2023-01-02     FB  132.99  136.9797  139.719294  129.000300  4914216
1  2023-01-03   AAPL  160.28  168.2940  173.342820  155.471600  2760636
2  2023-01-04   AMZN  160.08  161.6808  166.531224  152.076000  3856155
3  2023-01-05   AMZN  133.76  128.4096  136.435200  124.557312  4211555
4  2023-01-06   AAPL  199.82  199.8200  205.814600  195.823600  4587436
5  2023-01-09   GOOG  146.15  151.9960  156.555880  140.304000  1969238
6  2023-01-10     FB  167.96  164.6008  176.358000  161.308784  3186426
7  2023-01-11   AAPL  124.88  129.8752  135.070208  119.884800  1971042
8  2023-01-12   GOOG  132.30  128.3310  133.623000  125.764380  3436067
9  2023-01-13   AMZN  159.09  165.4536  172.071744  152.726400  3947829
10 2023-01-16   AAPL  186.09  191.6727  197.422881  182.368200  1020293
11 2023-01-17   AMZN  166.09  171.0727  177.915608  164.429100  2586207
12 2023-01-18     FB  115.56  116.7156  122.551380  110.937600  3337113
13 2023-01-19   AAPL  186.30  190.0260  193.826520  176.985000  4136900
14 2023-01-20     FB  161.01  161.0100  162.620100  159.399900  3697445
15 2023-01-23   GOOG  168.50  168.5000  171.870000  161.760000  4068499
16 2023-01-24   AAPL  114.84  113.6916  119.433600  111.417768  2507869
17 2023-01-25   GOOG  160.46  166.8784  173.553536  154.041600  1438933
18 2023-01-26   GOOG  171.73  163.1435  178.599200  159.880630  3169335
19 2023-01-27   AAPL  192.81  202.4505  204.475005  183.169500  1793642

In [13]:
# Frequency

for

'max'

In [9]:
finance_data.count()

Date      20
Symbol    20
Open      20
Close     20
High      20
Low       20
Volume    20
dtype: int64